.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: blue;
}

.logo-sect{
    width: 20vw;
}

.search-area{
    width: 30vw;
}

.account-sect ul{
    display: flex;
}

.account-sect ul li{
    list-style: none;
    padding: 0px 5px;
}

.modify-btns{
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.modify-btns span{
    cursor: pointer;
}

.modify-btns .btn-modify{
    display: flex !important;
}